.main_p {
    padding: 40px 0 0 40px;
}

#slickQuiz {
    width: 800px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-top: none;
    background: #fff;
    padding: 20px;
    font-family: Trebuchet, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
}